<h1>players</h1>
<table>
    {% for player in players %}
        <tr>
          <td>{{ player.id }}</td>
          <td>{{ player.name }}</td>
          <td>{{ player.number }}</td>
        </tr>
    {% endfor %}
</table>
<a href="{{ path('app_team_index') }}">back to teams</a>
