<h1>team</h1>
<table>
    {% for player in players %}
        <tr>
          <td>{{ player.id }}</td>
          <td>{{ player.name }}</td>
          <td>{{ player.number }}</td>
        </tr>
    {% endfor %}
</table>