<h1>teams</h1>
<table>
    {% for team in teams %}
        <tr>
            <td>{{ team.id }}</td>
            <td><a href="{{ path('app_player_number', {'teamId': team.id}) }}">{{ team.name }}</a></td>
        </tr>
    {% endfor %}
</table>
